
.center {
    border: 5px solid;
    
  }

.heading{
    background-color: white;

}
body {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* background: #FFF5EE; */
    background: #eee;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
    white-space: nowrap;
}

.table td{
    background-color: white;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}

table th {
    font-weight: 600;
    background-color: #eeecfd !important;
    /* background-color: white; */
}

/* .fa-arrow-up {
    color: #00CED1;
}

.fa-arrow-down {
    color: #FF00FF;
} */

